<settings>
   <servers>
         <server>
                 <id>TomcatServer</id>
                 <username>deploy</username>
                 <password>devops</password>
         </server>
         <server>
                 <id>TomcatServer1</id>
                 <username>deploy</username>
                 <password>devops</password>
         </server>
        <server>
                 <id>java-release</id>
                 <username>admin</username>
                 <password>admin123</password>
         </server>
        <server>
                 <id>snapshots</id>
                 <username>admin</username>
                 <password>admin123</password>
         </server>

   </servers>
</settings>
